apache24/htdocs/*

!apache24/htdocs/index.html
!apache24/htdocs/info.php

apache24/htdocs/medisys/

apache24/logs/*.log

*.tmp
*.bak
Thumbs.db
Desktop.ini

mysql*/
databases/

php84/xdebug.log

apache24/cache/
apache24/modules/*.pdb
php84/extras/
php84/dev/
